
.header_text {
    padding: 5px 0px 0px 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: aliceblue;
}

.header_style {

    background-color: rgb(148, 8, 10);
    height: 30px;
    border-radius: 5px 5px 0px 0px;
}